<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esielkar.calificame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Califícame">
        <activity android:name=".MainActivity" />
        <activity android:name=".AddReviewActivity" />
        <activity android:name=".GeneralStatsActivity" />
        <activity android:name=".SelectSubjectActivity" />
        <activity android:name=".FacultiesActivity" />
        <activity android:name=".SubjectsActivity" />
        <activity android:name=".UniversitiesActivity" />
        <activity android:name=".PasswordForgottenActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".ProfessorsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>